.nav-head h1 {
  color: aliceblue !important;
}

.navbar {
  justify-content: space-between;
}

.nav-h3 a {
    font-size: 1em !important;
    font-weight: 700;
    margin-left: 25px !important;
  margin-right: 25px !important;
  text-decoration: dashed;
  color: aliceblue;
}

.started button {
  padding: 20px 40px 20px 40px;
  background-color: rgb(24, 24, 24);
  color: aliceblue;
  font-size: 1.5em;
}


a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    position: relative;
  }
  
  .nav-h3 a:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
  }
  
  .nav-h3 a:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #f0f;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
  }
  
  .nav-h3 a:hover:before {
    width: 50%;
    transform: translateX(100%);
  }
  
  .nav-h3 a:hover:after {
    width: 50%;
    transform: translateX(-100%);
  }