body {
  /* background-image: url("/comp/file/Poly.svg"); */
  background-image: url("/comp/file/Sprinkle.svg");
  color: black;
  font-size: 11pt;
  width: 50% !important;
  margin-left: 25% !important;
  margin-right: 25% !important;
}

.enc-cont {
  text-align: center !important;
}

.dropzone {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.img-thumbnail {
  height: 7vw !important;
  width: 7vw !important;
  background: rgba(22, 47, 115, 0) !important;
  border-color: rgb(255, 255, 255, 0) !important;
  /* clip-path: circle() !important; */
}


.enc-p {
  padding-left: 8vw !important;
  padding-right: 8vw !important;
}

* {
  color: aliceblue !important;
}

.divTableCell {
  text-align: center;
}

.btnClass {
  display: flex !important;
  justify-content: space-evenly;
}

a,
a:link,
a:visited,
a:active {
  color: blue;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  color: red;
}

.black10pointcourier {
  font-family: "courier";
  color: black;
  font-size: 10pt;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.dropzone {
  border: 10px dashed gray;
  width: 40%;
  padding: 2% 2% 5% 2%;
  text-align: center;
  margin: 5px 0 5px 0;
}

.divTablefullwidth {
  display: table;
  width: 100%;
}

.divTable {
  display: table;
}

.divTableRow {
  display: table-row;
}
.divTableCell {
  padding: 3px 3px;
}
.divTableBody {
  display: table-row-group;
}

.greenspan {
  color: green;
}

.redspan {
  color: red;
}

.divTableCell input {
  color: black !important;
}

.form-control {
  width: 40% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.divTableCell {
  font-weight: 500 !important;
}

.divTableCell input:focus {
  background-color: rgb(232, 245, 255);
}
/* /////////////media queries/////////// */
@media (max-width: 768px) {
  .dropzone {
    width: 60%;
  }

  .enc-p {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .img-thumbnail {
    height: 5em !important;
    width: 5em !important;
  }
  body {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }

  .form-control {
    width: 80% !important;
  }
}
