@charset "utf-8";
/* CSS Document */
/* mr-roboto */

body{
  background-color: black !important;
}


/* ////////////home///////////////// */
.home-c{
  padding-top: 12% !important;
  padding-bottom: 12% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

/* main {
  width: 60em;
  margin: 0 auto;
} */

/* section {
  margin: 1em;
} */

/* ////////////////bttn-dark///////////// */
.bttn-dark {
  font-size: 20px !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 3px solid #af52c3;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.bttn-dark:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #af52c3;
  z-index: -1;
}
.bttn-dark:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.started button {
  float: left !important;
  padding: 15px 22px 15px 22px;
  color: aliceblue;
  background-color: #5a4fcf;
  border: 0;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 2%;
}

#message {
  color: red;
  font-weight: bold;
}

.output {
  background: rgb(0, 0, 0);
  word-wrap: anywhere;
}

.output a {
  display: block;
}

textarea {
  width: 100%;
  min-height: 10em;
}

label {
  display: block;
}

label input[type="text"] {
  display: block;
  width: 100%;
}

.linkify-label {
  display: flex !important;
}

* {
  color: aliceblue;
}

.form-control {
  color: black !important;
}

.form-floating textarea {
  color: black !important;
}

.img-thumbnail {
  height: 7vw !important;
  width: 7vw !important;
  background: rgb(0, 0, 0, 0) !important;
  border-color: rgb(0, 0, 0, 0) !important;
}

.form-floating textarea:focus {
  background-color: rgb(232, 245, 255);
}

.input-group input:focus {
  background-color: rgb(232, 245, 255);
}


.navbar {
  background-color: black !important;
  font-family: "muli" !important;

  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
}

.navbar-brand {
  font-size: 1.5em !important;
  font-weight: 800;
  color: aliceblue !important;
}

.navbar-nav a {
  font-size: 1.4em;
  margin-left: 20px !important;
  margin-right: 20px !important;
  font-weight: 700 !important;
}

/* /////////////////// */
.navbar-nav a:hover {
  /* background-color: #D9AFD9; */
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);

  /* -webkit-text-fill-color: transparent; */
  -webkit-background-clip: text;
}


.dropdown-menu{
  background-color:#212121 !important;
  float: right !important;
}

.dropdown-item{
  font-size: 1em !important;
}

.output {
  background-color: #212121 ;
}

/* /////////////footer///////////////// */
.foot-cont {
  background-color: #18181a !important;
  color: aliceblue !important;
}

.dis-text {
  padding-left: 6% !important;
  padding-right: 8% !important;
  text-align: justify;
}

.send-btn {
  text-align: start !important;
}

.icon {
  height: 30px !important;
  margin-left: 5% !important;
}

.icon:hover {
  transform: scale(1.2);
  background-color: #18181a;
}
.icon {
  transition: transform 0.4s;
}


.services-btn button {
  padding: 10px 15px 10px 15px;
  color: aliceblue;
  background-color: #5a4fcf;
  border: 0;
  font-size: 1em;
  font-weight: 500;
  border-radius: 2%;
}

.send-btn button{
font-size: 1em !important;
}

.form-control{
  color: #000 !important;
}

/* Media Queries */
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  body {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }

  h1 {
    font-size: 3em !important;
  }
  h4 {
    font-size: 1.5em !important;
  }
  button {
    font-size: 1.5em !important;
  }

  .img-thumbnail {
    height: 5em !important;
    width: 5em !important;
  }
}
